In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [3]:
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 10)

In [4]:
saved_style_state = plt.rcParams.copy() #give us a style state to go back to

In [5]:
if os.path.isfile("household_tech_data.csv"):
    filepath = "household_tech_data.csv"
    print("loading from file")
else:
    filepath = "https://www.abs.gov.au/statistics/industry/technology-and-innovation/household-use-information-technology/2016-17"
    print("loading from the internet")

df = pd.read_csv(filepath)
print("done")

loading from file
done

In [6]:
df.head()

                                                                   Proportion of households with internet access, 2004-05 to 2016-17 (a)(b)
NaN     Total households (%) Households with children under 15 (%)           Households without children under 15 (%)
2004-05 56.0                 72.0                                                                                49.0
2005-06 60.0                 76.0                                                                                53.0
2006-07 64.0                 81.0                                                                                57.0
2007-08 67.0                 82.3                                                                                60.8

In [7]:
df.shape

(13, 1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 13 entries, (nan, 'Total households (%)', 'Households with children under 15 (%)') to ('Source: Australian Bureau of Statistics, Household use of information technology 2016-17 financial year', nan, nan)
Data columns (total 1 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Proportion of households with internet access, 2004-05 to 2016-17 (a)(b)  10 non-null     object
dtypes: object(1)
memory usage: 1.3+ KB

In [9]:
df.columns

Index(['Proportion of households with internet access, 2004-05 to 2016-17 (a)(b)'], dtype='object')